# Potencial Ornitológico Fueguino
### **Autor:** Pablo Jusim

# Script de preprocesamiento de observaciones de iNaturalist
Se realizan virificaciones antes de obtener el dataframe final.

La salida de este script será un dataframe de pandas donde cada fila representará una observación de iNaturalist.

El dataframe final tendrá las siguientes **columnas**: id_obs, id_celda, especie, familia, orden, fecha

## Importaciones

In [3]:
import pandas as pd

## Carga de datos

In [43]:
archivo = '../data/raw/obs_iNat.csv'
df_base = pd.read_csv(archivo)
df_base.head()

,id,uuid,observed_on_string,observed_on,time_observed_at,user_id,user_name,created_at,quality_grade,captive_cultivated,...,place_admin2_name,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id,taxon_order_name,taxon_family_name,taxon_genus_name,taxon_subspecies_name
0,43929,bf9ff5ac-0a0f-45eb-9c7b-e86e9298d192,"January 06, 2011 16:29",2011-01-06,2011-01-06 19:29:00 UTC,4083,Liam Quinn,2011-12-18 19:58:12 UTC,research,False,...,Ushuaia,Rufous-collared Sparrow,Zonotrichia capensis,Chingolo,Aves,9183,Passeriformes,Passerellidae,Zonotrichia,NaN
1,44127,dfa80126-6707-43dd-80e8-cf6230a6b41a,"January 06, 2011 12:44",2011-01-06,2011-01-06 15:44:00 UTC,4083,Liam Quinn,2011-12-19 03:36:06 UTC,research,False,...,Ushuaia,Austral Thrush,Turdus falcklandii,Zorzal patagónico,Aves,12751,Passeriformes,Turdidae,Turdus,NaN
2,143793,2c967eea-825c-4707-9c9a-a0aa157cfe10,2011-12-31 12:27:52,2011-12-31,2011-12-31 20:27:52 UTC,10201,edwardrooks,2012-11-04 22:32:17 UTC,research,False,...,Ushuaia,Black-necked Swan,Cygnus melancoryphus,Cisne cuello negro,Aves,72789,Anseriformes,Anatidae,Cygnus,NaN
3,143794,818697e7-2cff-4004-af67-b70b3ec39baf,2011-12-30 15:12:17,2011-12-30,2011-12-30 23:12:17 UTC,10201,edwardrooks,2012-11-04 22:32:18 UTC,research,False,...,Rió Grande,Southern Lapwing,Vanellus chilensis,Tero,Aves,4867,Charadriiformes,Charadriidae,Vanellus,NaN
4,335952,7efa102f-eb4a-45e5-a17b-7bb68db01940,2009-11-19,2009-11-19,NaN,15211,Carmelo López Abad,2013-07-18 00:40:23 UTC,research,False,...,Ushuaia,Crested Duck,Lophonetta specularioides,Pato Crestón,Aves,72994,Anseriformes,Anatidae,Lophonetta,NaN

## Limpieza de datos

### Revisión y eliminación de columnas no útiles

#### Eliminación de columnas sin aporte al proyecto

In [44]:
# Columna uuid: se elimina ya que para verificar potenciales problemas de datos ya está la columna 'id'
df_base = df_base.drop(columns=['uuid'])

# Columna "observer_on_string": se elimina ya que los mismos datos están en otras columnas
df_base = df_base.drop(columns=['observed_on_string'])

#Columna "time_observed_at": Se elimina ya que no es necesaria para el análisis
df_base = df_base.drop(columns=['time_observed_at'])

# Columna user_name: se elimina ya que se puede identificar al usuario por su id
df_base = df_base.drop(columns=['user_name'])

# Columna #created_at": se elimina ya que no es necesaria para el análisis
df_base = df_base.drop(columns=['created_at'])

# Columna "species_guess": se elimina ya que el nombre comun en español esta en otra columna
df_base = df_base.drop(columns=['species_guess'])

# Columna "public_positional_accuracy": se elimina ya que repite indicadores de la columna "positional_accuracy"
df_base = df_base.drop(columns=['public_positional_accuracy'])

# Columnas "positioning_method" y "positioning_device": se eliminan ya que no son necesarias para el análisis
df_base = df_base.drop(columns=['positioning_method', 'positioning_device'])

# Columna "place_country_name": se elimina ya que no es necesaria para el análisis al contar con nombre de la provincia en otra columna
df_base = df_base.drop(columns=['place_country_name'])

# Columnas "place_admin1_name" y "place_admin2_name": se eliminan ya que repiten informacion
df_base = df_base.drop(columns=['place_admin1_name', 'place_admin2_name'])

df_filtrada_1 = df_base.copy()
# Revision del resultado parcial
df_filtrada_1.head()

,id,observed_on,user_id,quality_grade,captive_cultivated,place_guess,latitude,longitude,positional_accuracy,private_place_guess,...,place_county_name,place_state_name,scientific_name,common_name,iconic_taxon_name,taxon_id,taxon_order_name,taxon_family_name,taxon_genus_name,taxon_subspecies_name
0,43929,2011-01-06,4083,research,False,"Lapataia, Tierra del Fuego, Argentina",-54.854230,-68.579063,NaN,NaN,...,Ushuaia,Tierra del Fuego,Zonotrichia capensis,Chingolo,Aves,9183,Passeriformes,Passerellidae,Zonotrichia,NaN
1,44127,2011-01-06,4083,research,False,"Lapataia, Tierra del Fuego, Argentina",-54.847955,-68.542327,NaN,NaN,...,Ushuaia,Tierra del Fuego,Turdus falcklandii,Zorzal patagónico,Aves,12751,Passeriformes,Turdidae,Turdus,NaN
2,143793,2011-12-31,10201,research,False,"Tierra del Fuego, Argentina",-54.841826,-68.488769,NaN,NaN,...,Ushuaia,Tierra del Fuego,Cygnus melancoryphus,Cisne cuello negro,Aves,72789,Anseriformes,Anatidae,Cygnus,NaN
3,143794,2011-12-30,10201,research,False,"Tierra del Fuego, Argentina",-54.305307,-67.274780,NaN,NaN,...,Rió Grande,Tierra del Fuego,Vanellus chilensis,Tero,Aves,4867,Charadriiformes,Charadriidae,Vanellus,NaN
4,335952,2009-11-19,15211,research,False,"Ushuaia, Tierra del Fuego province, Argentina.",-54.818789,-68.188534,NaN,NaN,...,Ushuaia,Tierra del Fuego,Lophonetta specularioides,Pato Crestón,Aves,72994,Anseriformes,Anatidae,Lophonetta,NaN

#### Revisión del contenido de columnas con posibles errores y eliminación de las mismas

##### Verificaciones

In [45]:
# Columna "quality_grade": segun la busqueda realizada en iNat, los datos deberian estar todos en "research"
print(f'quality_grade: {df_filtrada_1['quality_grade'].unique()}')

# Columna "captive_cultivated": ninguna observacion deberia ser "true" (aves cautivas)
print(f'captive: {df_filtrada_1['captive_cultivated'].unique()}')

# Columna "private_place_guess": ninguna observacion deberia tener datos ya que la búsqueda solo incluyó ubicaciones públicas
print(f'private_place_guess: {df_filtrada_1["private_place_guess"].unique()}')

# Columnas "private_latitude" y "private:longitude": ninguna observacion deberia tener datos ya que la búsqueda solo incluyó ubicaciones públicas
print(f'private_latitude: {df_filtrada_1["private_latitude"].unique()}')
print(f'private_longitude: {df_filtrada_1["private_longitude"].unique()}')

# Columna "geoprivacy": ninguna observacion deberia tener datos ya que la búsqueda solo incluyó ubicaciones públicas
print(f'geoprivacy: {df_filtrada_1["geoprivacy"].unique()}')

# Columna "taxon_geoprivacy": las observaciones deberian ser "open" o carecer el dato
print(f'taxon_geoprivacy: {df_filtrada_1["taxon_geoprivacy"].unique()}')

# Columna "coordinates_obscured": las observaciones deberian ser "false" o carecer el dato
print(f'coordinates_obscured: {df_filtrada_1["coordinates_obscured"].unique()}')

# Columna "place_town_name": se revisa si hay datos en la columna, sino se elimina
print(f'place_town_name: {df_filtrada_1["place_town_name"].unique()}')

# Columna "place_county_name": los valores deberian ser los departamentos de TIerras del Fuego
print(f'place_county_name: {df_filtrada_1["place_county_name"].unique()}')

# Columna "place_state_name": los valores deberian ser "Tierra del Fuego"
print(f'place_state_name: {df_filtrada_1["place_state_name"].unique()}')

# Columna "iconic_taxon_name": los valores deberian ser "Aves"
print(f'iconic_taxon_name: {df_filtrada_1["iconic_taxon_name"].unique()}')

quality_grade: ['research']
captive: [False]
private_place_guess: [nan]
private_latitude: [nan]
private_longitude: [nan]
geoprivacy: [nan]
taxon_geoprivacy: ['open' nan]
coordinates_obscured: [False]
place_town_name: [nan]
place_county_name: ['Ushuaia' 'Rió Grande']
place_state_name: ['Tierra del Fuego']
iconic_taxon_name: ['Aves']

##### Eliminaciones

In [46]:
df_filtrada_2 = df_filtrada_1.drop(
    columns=['quality_grade', 'captive_cultivated', 'private_place_guess', 'private_latitude', 'private_longitude', 'geoprivacy', 'taxon_geoprivacy',
             'coordinates_obscured', 'place_town_name', 'place_county_name', 'place_state_name', 'iconic_taxon_name'])

# Ver resultado parcial
df_filtrada_2.head()

,id,observed_on,user_id,place_guess,latitude,longitude,positional_accuracy,scientific_name,common_name,taxon_id,taxon_order_name,taxon_family_name,taxon_genus_name,taxon_subspecies_name
0,43929,2011-01-06,4083,"Lapataia, Tierra del Fuego, Argentina",-54.854230,-68.579063,NaN,Zonotrichia capensis,Chingolo,9183,Passeriformes,Passerellidae,Zonotrichia,NaN
1,44127,2011-01-06,4083,"Lapataia, Tierra del Fuego, Argentina",-54.847955,-68.542327,NaN,Turdus falcklandii,Zorzal patagónico,12751,Passeriformes,Turdidae,Turdus,NaN
2,143793,2011-12-31,10201,"Tierra del Fuego, Argentina",-54.841826,-68.488769,NaN,Cygnus melancoryphus,Cisne cuello negro,72789,Anseriformes,Anatidae,Cygnus,NaN
3,143794,2011-12-30,10201,"Tierra del Fuego, Argentina",-54.305307,-67.274780,NaN,Vanellus chilensis,Tero,4867,Charadriiformes,Charadriidae,Vanellus,NaN
4,335952,2009-11-19,15211,"Ushuaia, Tierra del Fuego province, Argentina.",-54.818789,-68.188534,NaN,Lophonetta specularioides,Pato Crestón,72994,Anseriformes,Anatidae,Lophonetta,NaN

In [47]:
print(f'Filas totales: {len(df_filtrada_2)}')
print(f'Columnas totales: {len(df_filtrada_2.columns)}')

Filas totales: 15651
Columnas totales: 14

### Revisión de valores de filas

##### Precisión

In [59]:
# Precision de las observaciones: Se descartan observaciones con una precisión menor
# a la mitad del tramaño de la celda (2500 m o más)
df_filtrada_3 = df_filtrada_2[df_filtrada_2['positional_accuracy'] < 2500]

##### Nombres científicos
Los nombres cientificos constan de dos palabras, el genero y el epíteto específico.
Si hay una tercera palabra, esta puede corresponder a una subespecie.
Tener observaciones de la misma especie con dos o tres palabras puede complicar el conteo

In [60]:
# Cambiar el nombre de la columna "scientific_name" a "scientific_name_sub"
df_filtrada_3 = df_filtrada_3.rename(columns={'scientific_name': 'scientific_name_sub'})

# Agregar la columna "scientific_name" con el nombre científico de la especie (solo las dos primeras palabras)
df_filtrada_3['scientific_name'] = df_filtrada_3[
    'scientific_name_sub'].apply(
        lambda x: ' '.join(x.split()[:2]) if isinstance(x, str) else x)

df_filtrada_3.head()

,id,observed_on,user_id,place_guess,latitude,longitude,positional_accuracy,scientific_name_sub,common_name,taxon_id,taxon_order_name,taxon_family_name,taxon_genus_name,taxon_subspecies_name,scientific_name
6,336399,2009-11-21,15211,"Beagle Channel, Ushuaia, Tierra del Fuego prov...",-54.867678,-67.466637,38.0,Leucocarbo magellanicus,Cormorán cuello negro,1289600,Suliformes,Phalacrocoracidae,Leucocarbo,NaN,Leucocarbo magellanicus
22,568157,2013-12-22,10201,"Tierra del Fuego National Park, Ushuaia",-54.828777,-68.558121,1225.0,Enicognathus ferrugineus,Cachaña,19262,Psittaciformes,Psittacidae,Enicognathus,NaN,Enicognathus ferrugineus
23,568760,2013-12-22,10201,"Tierra del Fuego National Park, Ushuaia",-54.853885,-68.576660,611.0,Spinus barbatus,Cabecitanegra austral,145321,Passeriformes,Fringillidae,Spinus,NaN,Spinus barbatus
24,568802,2013-12-22,10201,"Tierra del Fuego National Park, Ushuaia",-54.844298,-68.564987,305.0,Lessonia rufa,Sobrepuesto austral,17310,Passeriformes,Tyrannidae,Lessonia,NaN,Lessonia rufa
26,568816,2013-12-22,10201,"Tierra del Fuego National Park, Ushuaia",-54.854478,-68.573914,2446.0,Zonotrichia capensis,Chingolo,9183,Passeriformes,Passerellidae,Zonotrichia,NaN,Zonotrichia capensis